<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Website Icon --><link rel="icon" href="/images/WhispersOfHeart.png">
    <!-- google Fonts --><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&family=Roboto&family=Satisfy&family=Ysabeau+Infant&display=swap" rel="stylesheet">
    <!-- local css file --><link rel="stylesheet" href="/css/styles.css">
    <!-- font awesome --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Whispers Of Heart</title>
  </head>
  <body class="body">
    <input type="checkbox" id="toggle" class="toggle-checkbox">
    <div class="title">
      <img class="brandLogo" src="/images/WhispersOfHeart.png" alt="logo">
      <h1 class="brandTitle"><a href="/">Whispers Of Heart</a></h1>
    </div>
